html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #212121;
}

.timer {
  display: flex;
  justify-content: center;
  width: 750px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f2f1;
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 40px;
}

.value {
  width: 100px;
  padding: 0 6px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 72px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: rgb(51, 48, 48);
}

.label {
  padding-top: 20px;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

@media (min-width: 400px) and (max-width: 680px) {
  .timer {
    width: 500px;
    padding: 14px;
  }

  .field {
    padding: 6px 18px;
  }
  
  .value {
    width: 80px;
    padding: 0 10px;
    font-size: 42px;
  }
  
  .label {
    padding-top: 14px;
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .timer {
    width: 300px;
    padding: 8px;
  }

  .field {
    padding: 2px 10px;
  }
  
  .value {
    width: 50px;
    padding: 0 8px;
    font-size: 36px;
  }
  
  .label {
    padding-top: 10px;
    font-size: 14px;
  }
}